/* Icons */
@import url(http://weloveiconfonts.com/api/?family=fontelico);

.test { border: 1px solid red; }

/* Global */
html body {
  background-color: #bed;
  margin-top:       .2em;
  margin-bottom:    .2em;
}

/* Authentication */
.authentication .btn {
  float: right;
}

/* Messages */
.messages .meta {
  color:         gray;
  font-style:    italic;
  margin-bottom: .2em;
}
.messages .meta .close {
  float: right;
}

.messages .avatar {
  margin-right:   1em;
}
.messages .message {
  margin-bottom: .5em;
}
.messages .message [class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* New Message */
.new-message .btn {
  width: 100%;
}
