.test { border: 1px solid red; }

/* Global */
html body { background-color: #bed; }

/* Messages */
.messages .meta {
  color: gray;
  font-style: italic;
}
.messages .avatar {
  margin-right: 1em;
}

/* New Message */
.new-message .btn {
  width: 100%;
}
